html, body {
    font-family: 'Roboto', sans-serif;
}

.logo-container {
    margin-right: 20px;
}

.title-container {
    margin-top: 38px;
    margin-left: 20px;
}

.output-label {
    font-size: 18px;
    font-weight: bold;
}

.source-label {
    margin-bottom: 5px;
}

@media (max-width: 767px) {
    #source-dropdown {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
}

.editor {
    border: 1px solid #DDD;
}

/* match cool's comment color */
.javascript-theme .cm-comment {
    font-style: italic;
    color: #3F7F5F;
}

div.CodeMirror span.CodeMirror-matchingbracket {
    color: #000;
    background: rgb(169, 210, 188);
}

.squiggly-underline {
    position: absolute;
    background-repeat: repeat-x;
    margin-top: -3px;
    margin-left: -2px;
    padding-left: 4px;
    z-index: 2;
    pointer-events: none;
}

    .squiggly-underline.red-squiggly-underline {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wQWDAwcHuBA/gAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAOklEQVQI1zXIMRGAMBAAsDzHwoiLiqmN14EIxhqrg8p4hh5bLlG9P2CMF0cUO1oD5w9zgqi1blwyEz6qnwvN7E3FeQAAAABJRU5ErkJggg==');
    }

    .squiggly-underline.green-squiggly-underline {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wQbAjEcjPz9lwAAAEdJREFUCNdjtFjpXs/AwMCwxGvGZGZGZiZG6UClegYGBgY+XWEGBgYGBhYY49PltwwMDAwMjDc/3RHkYeHmDN6ckMrAwMAAAKcLDNMVhRLUAAAAAElFTkSuQmCC');
    }

/* console styles */
div.console {
    font-size: 14px;
    border: 1px solid #DDD;
}

    div.console div.jquery-console-inner {
        background: #FAFAFA;
        padding: 0.5em;
        overflow: auto;
    }

    div.console div.jquery-console-prompt-box {
        color: black;
        font-family: monospace;
    }

    div.console div.jquery-console-focus span.jquery-console-cursor {
        background: #667;
        color: white;
        font-weight: bold;
        -moz-animation: blink 1.2s steps(2, start) infinite;
        -o-animation: blink 1.2s steps(2, start) infinite;
        -webkit-animation: blink 1.2s steps(2, start) infinite;
        animation: blink 1.2s steps(2, start) infinite;
    }

    div.console div.jquery-console-output {
        color: #00c;
        font-family: monospace;
        padding: 0.1em;
    }

    div.console div.jquery-console-error {
        color: #ef0505;
        font-family: monospace;
        padding: 0.1em;
    }

    div.console div.jquery-console-user-input {
        color: #488026;
        font-family: monospace;
        padding: 0.1em;
    }

    div.console span.jquery-console-prompt-label {
        color: black;
    }

@keyframes blink {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink {
    to {
        visibility: hidden;
    }
}

@-moz-keyframes blink {
    to {
        visibility: hidden;
    }
}

/* /console styles */
